@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bamum&display=swap');

/*
font-family: 'Gloock', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Noto Sans Bamum', sans-serif;
*/
*{
    margin: 0%;
    padding: 0%;
}

#picture1_div {
    width: 200px;
    height: 150px;
    border-radius: 57% 43% 53% 47% / 56% 50% 50% 44% ;
    overflow: hidden;  
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; 
    position: relative;
    bottom: -110px;
    animation: picture_anim 7s infinite;
}
@keyframes picture_anim {
    0% {
        border-radius: 57% 43% 53% 47% / 56% 50% 50% 44%; 
    }
    50% {
        border-radius: 65% 35% 69% 31% / 35% 58% 42% 65% ; 
    }
    75% {
        border-radius: 67% 33% 61% 39% / 40% 66% 34% 60%; 
    }
    100% {
        border-radius: 57% 43% 53% 47% / 56% 50% 50% 44%; 
    }
}
#picture1_back{
    width: 200px;
    transform: translateY(-110px);
}
#picture1_front {
    width: 200px;
    clip-path: inset(0px 0px 90px 0px);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end: 2; 
}
#picture1_tt {
    display: grid;
    width:200px;
    /*background: red;
    */
}


#grid_container {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    width:80%;
    margin-left: 10%;
    grid-template-columns: 50% 50%;
}
#grid_container h1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end: 3; 
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    text-align: center;
}
#img1 {
    display: flex;
    justify-content: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:1;
    grid-column-end: 2; 
}
#p1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:2;
    grid-column-end: 3; 
}
#p2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:1;
    grid-column-end: 2; 
}
#img2{
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:2;
    grid-column-end: 3; 
}
#paris_plan {
    margin-bottom: 10px;
    width: 300px;
}

.title_span{
    opacity: 0;
    display: inline-block;
    animation: flip .5s forwards, apparition_anim 4s forwards;   
}
.title_span:nth-child(1){
    animation-delay: 0s;
}
.title_span:nth-child(2){animation-delay: .1s;}
.title_span:nth-child(3){animation-delay: .2s;}
.title_span:nth-child(4){animation-delay: .3s;}
.title_span:nth-child(5){animation-delay: .4s;}
.title_span:nth-child(6){animation-delay: .5s;}
.title_span:nth-child(7){animation-delay: .6s;}
.title_span:nth-child(8){animation-delay: .7s;}
.title_span:nth-child(9){animation-delay: .8s;}
.title_span:nth-child(10){animation-delay: .9s;}
.title_span:nth-child(11){animation-delay: 1s;}
.title_span:nth-child(12){animation-delay: 1.1s;}
.title_span:nth-child(13){animation-delay: 1.2s;}
.title_span:nth-child(14){animation-delay: 1.3s;}
.title_span:nth-child(15){animation-delay: 1.4s;}
.title_span:nth-child(16){animation-delay: 1.5s;}
.title_span:nth-child(17){animation-delay: 1.6s;}
.title_span:nth-child(18){animation-delay: 1.7s;}
.title_span:nth-child(19){animation-delay: 1.8s;}
.title_span:nth-child(20){animation-delay: 1.9s;}
.title_span:nth-child(21){animation-delay: 2s;}
.title_span:nth-child(22){animation-delay: 2.1s;}
.title_span:nth-child(23){animation-delay: 2.2s;}
.title_span:nth-child(24){animation-delay: 2.3s;}
.title_span:nth-child(25){animation-delay: 2.4s;}
@keyframes flip {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes apparition_anim {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

p {
    font-family: 'Noto Sans Bamum', sans-serif;
}
.paragraphe {   
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 17px;
}

#pp1 {
    opacity: 0;
    animation: apparition_anim 2.5s forwards;
    animation-delay: 3s;
}
#pp2 {
    opacity: 0;
    animation: apparition_anim 2.7s forwards;
    animation-delay: 5.5s;
}

#picture1_tt {
    opacity: 0;
    animation: img1_anim_appear 2.1s forwards;
    animation-delay: 1.5s;
}
@keyframes img1_anim_appear {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
#img2 {
    opacity: 0;
    animation: img2_anim_appear 2.2s forwards;
    animation-delay: 4.5s;
}
@keyframes img2_anim_appear {
    0% {
        transform: translateX(45px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.justifier {
    text-align: justify;
    text-justify: inter-word;
}

div.container {
	width: 600px;
    height: 350px;
	position: relative;
	margin: 20px;
    margin-left: -300px;
    opacity: 0;
    animation: img3_anim_appear 2s forwards;
    animation-delay: 3s;
}
@keyframes img3_anim_appear {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
div.image {
	height: 100%;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	position: absolute;
	top: 0px;
	left: 0px;
}

div.before {
	width: 50%;
	z-index: 2;
}

div.after {
	width: 100%;
	z-index: 1;
}

input.slider {
	width: 100%;
	height: 100%;
	outline: none;
	background-color: transparent;
	position: absolute;
	margin: 0px;
	z-index: 3;
	cursor: pointer;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	transition: 0.25s all ease-in-out;
	-moz-transition: 0.25s all ease-in-out;
	-webkit-transition: 0.25s all ease-in-out;
	z-index: 4;
}

input.slider::-moz-range-thumb {
	width: 5px;
	height: 300px;
	background-color: white;
	cursor: pointer;
}

input.slider::-webkit-slider-thumb {
	width: 5px;
	height: 530px;
	background-color: white;
	cursor: pointer;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

div.slider-button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	-moz-broder-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: white;
	position: absolute;
	top: calc(50% - 18px);
	left: calc(50% - 18px);
	cursor: pointer;
	z-index: 3;
}

div.slider-button:before {
	color: #555;
	position: absolute;
	top: 3px;
	left: 0px;
	content: "\2B9C";
}

div.slider-button:after {
	color: #555;
	position: absolute;
	top: 3px;
	right: 0px;
	content: "\2B9E";
}

#image_area {
    display: grid;
    grid-template-columns: 50% 50%;
}
